@import 'compass';
@import 'blueprint';

$background_color: #099d9d;
$text_color: #0D5151;
$highlight_color: #AA1B84;
$dark_color: #0D5151;

body {
  background-image: image-url('background.gif');
}
p {
  color: $text_color;
}
td {
  color: $text_color;
}
h1 {
  color: $highlight_color;
}
h2 {
  color: $highlight_color;
}
h3 {
  color: $dark_color;
}
#page_container {
  @include container;
  min-height: 500px;
}

#page {
  @include prepend(1);
  @include column(22);
  @include append(1);
  @include last();
  min-height: 500px;
  padding-top: 10px;
  background-image: image-url('content_background.png');
}

nav {
  position: absolute;
  left: 350px;
  top: 18px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      margin-right: 10px;
    }
  }
}

footer {
  @include column(24);
  @include last();
  background-image: image-url('footer_background.png');
  height: 60px;
  padding-top: 5px;
  text-align: center;
  color: darken($background_color, 9%);
}

header {
  @include column(23);
  @include append(1);
  @include last;
  position: relative;
  background-image: image-url('header_background.png');
  height: 220px;
}

#logo {
  position: absolute;
  top: 100px;
}

